<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <parameter name="browser" value="firefox"/>  <!--value = "firefox", "chrome"-->
  <test thread-count="5" name="Test">
    <classes>
     	<class name="Railway.LoginTest"/>
      	<class name="Railway.LogoutTest"/>
      	<class name="Railway.CreateAccountTest"/>
      	<class name="Railway.ResetPasswordTest"/>
      	<class name="Railway.BookTicketTest"/>
      	<class name="Railway.CancelBookingTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
